<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AppName</title>
    <!--Style-->
    <link type="text/css" rel="stylesheet" href="/css/reset.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/assets/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css"  media="screen,projection"/>
    <!--END Style-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Nawigacja-->
      <nav>
        <div class="nav-wrapper teal accent-4">
          <a href="#!" class="brand-logo left">logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
          <!--Wersja desktopowa-->
          <ul class="right hide-on-med-and-down">
            <li><a href="#">{{Kategoria1}}</a></li>
            <li><a href="#">{{Kategoria2}}</a></li>
            <li><a href="#">{{Kategoria3}}</a></li>
            <li><a href="#">{{Kategoria4}}</a></li>
          </ul>
          <!--END Wersja desktopowa-->
          <!--Wersja mobilna-->
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#">{{Kategoria1}}</a></li>
            <li><a href="#">{{Kategoria2}}</a></li>
            <li><a href="#">{{Kategoria3}}</a></li>
            <li><a href="#">{{Kategoria4}}</a></li>
          </ul>
          <!--END Wersja mobilna-->
        </div>
      </nav>
    <!--END Nawigacja-->
    <!--Content-->
        <div class="kategoria">
          <div class="chip grey darken-3 white-text">
            <img src="https://static1.squarespace.com/static/53ee2f53e4b08ae50e0b57a4/t/59de2efad55b41bc94ae89fe/1507733331917/04.26.16%2Bimg-03.jpg" alt="Contact Person">
            Kategoria 1
          </div>
          <div class="articles">
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
            <article>
              <img src="https://s7d2.scene7.com/is/image/SamsungUS/US_Sim_CAM_DC_DUAL_Gear-360_Stitching-Photos-Videos-ActionDirector-00?$default-high-resolution-jpg$">
              <div class="articleTitle truncate">Lorem ipsum dolor asdasds asd asdasdasdasdsa adasd asdasdamet</div>
            </article>
          </div>
        </div>
    <!--END Content-->
    <!--Footer-->
    <footer class="page-footer teal accent-4">
        <div class="row center-align">
          <div class="col s5">
            <a id='logowanie' class="white-text modal-trigger" href='#modal-logowanie'>Logowanie</a>
          </div>
          <div class="col s2">
            <i class="small material-icons">account_box</i>
          </div>
          <div class="col s5">
            <a id='rejestracja' class="white-text modal-trigger" href='#modal-rejestracja'>Rejestracja</a>
          </div>
        </div>
    </footer>
    <!--END Footer-->
    <!--Modal Logowanie-->
    <div id="modal-logowanie" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Zaloguj</h4>
        <!--Formularz logowania-->
        <div class="row">
          <form class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="Logowanie-login" type="text" class="validate">
                <label for="Logowanie-login">Login</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Logowanie-password" type="password" class="validate">
                <label for="Logowanie-password">Password</label>
              </div>
            </div>
            <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Zaloguj
              <i class="material-icons right">send</i>
            </button>
          </div>
          </form>
        </div>
        <!-- END Formularz logowania-->
      </div>
    </div>
    <!--END Modal Logowanie-->
    <!--Modal Rejestracja-->
    <div id="modal-rejestracja" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Zarejestruj</h4>
        <!--Formularz logowania-->
        <div class="row">
          <form class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="Rejestracja-login" type="text" class="validate">
                <label for="Rejestracja-login">Login</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Rejestracja-password" type="password" class="validate">
                <label for="Rejestracja-password">Password</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Rejestracja-password-ponownie" type="password" class="validate">
                <label for="Rejestracja-password-ponownie">Repeat Password</label>
              </div>
            </div>
            <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Zarejestruj
              <i class="material-icons right">send</i>
            </button>
          </div>
          </form>
        </div>
        <!-- END Formularz logowania-->
      </div>
    </div>
    <!--END Modal Rejestracja-->
    <!--Skrypty-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/slick.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <!--END Skrypty-->
  </body>
</html>
