<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AppName</title>
    <!--Style-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css"  media="screen,projection"/>
    <!--END Style-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Nawigacja-->
    <nav>
      <div class="nav-wrapper teal accent-4 fixed">
        <a href="#!" class="brand-logo left">logo + link do glownej</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <!--Wersja desktopowa-->
        <ul class="right hide-on-med-and-down">
          <li><a href="#">{{Kategoria1}}</a></li>
          <li><a href="#">{{Kategoria2}}</a></li>
          <li><a href="#">{{Kategoria3}}</a></li>
          <li><a href="#">{{Kategoria4}}</a></li>
        </ul>
        <!--END Wersja desktopowa-->
        <!--Wersja mobilna-->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">{{Kategoria1}}</a></li>
          <li><a href="#">{{Kategoria2}}</a></li>
          <li><a href="#">{{Kategoria3}}</a></li>
          <li><a href="#">{{Kategoria4}}</a></li>
        </ul>
        <!--END Wersja mobilna-->
      </div>
    </nav>
    <!--END Nawigacja-->
    <!--Content-->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <!--END Content-->
    <!--Footer-->
    <footer class="page-footer teal accent-4">
      <div class="container">
        <div class="row center-align">
          <div class="col s5">
            <a id='logowanie' class="white-text modal-trigger" href='#modal-logowanie'>Logowanie</a>
          </div>
          <div class="col s2">
          </div>
          <div class="col s5">
            <a id='rejestracja' class="white-text modal-trigger" href='#modal-rejestracja'>Rejestracja</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p class="center-align">
            © 2018 Copyright Text
          </p>
        </div>
      </div>
    </footer>
    <!--END Footer-->
    <!--Modal Logowanie-->
    <div id="modal-logowanie" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Zaloguj</h4>
        <!--Formularz logowania-->
        <div class="row">
          <form class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="Logowanie-login" type="text" class="validate">
                <label for="Logowanie-login">Login</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Logowanie-password" type="password" class="validate">
                <label for="Logowanie-password">Password</label>
              </div>
            </div>
            <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Zaloguj
              <i class="material-icons right">send</i>
            </button>
          </div>
          </form>
        </div>
        <!-- END Formularz logowania-->
      </div>
    </div>
    <!--END Modal Logowanie-->
    <!--Modal Rejestracja-->
    <div id="modal-rejestracja" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Zarejestruj</h4>
        <!--Formularz logowania-->
        <div class="row">
          <form class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="Rejestracja-login" type="text" class="validate">
                <label for="Rejestracja-login">Login</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Rejestracja-password" type="password" class="validate">
                <label for="Rejestracja-password">Password</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Rejestracja-password-ponownie" type="password" class="validate">
                <label for="Rejestracja-password-ponownie">Repeat Password</label>
              </div>
            </div>
            <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Zarejestruj
              <i class="material-icons right">send</i>
            </button>
          </div>
          </form>
        </div>
        <!-- END Formularz logowania-->
      </div>
    </div>
    <!--END Modal Rejestracja-->
    <!--Skrypty-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <!--END Skrypty-->
  </body>
</html>
